/*Propiedades Globales*/ 
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 1, 17);
}

h2 {
    padding-bottom: 10px;
}

/* Navbar */
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

a:hover {
    color: rgba(174, 0, 255, 0.936);
    text-decoration: underline;
    transition: all 0.3s ease;
}

.hero-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.514)),
        url(./img/background-hero.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 100px 90px rgb(0, 0, 0),
        inset 0 -65px 90px rgb(0, 0, 0);
}

.nav-link {
    color: white !important;
    margin-left: 40px;
    font-size: 25px;
}

.nav-link:hover {
    color: rgba(174, 0, 255, 0.936) !important;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.logo-img img {
    width: 250px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70vh;
    text-align: center;
    font-weight: 700;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Seccion destacados*/
.destacados {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.carousel-item img:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}


.carousel-item p,h5 {
    display: inline-block;
    background: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 500;
}

/*Catalogo de podcasts*/
.podcasts-section {
    text-align: center;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    padding: 20px;
}

.card {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}

.card-title {
    color: white;
}

.card-text {
    text-align: center;
    font-weight: 600;
}

/*Seccion de pie de pagina*/
footer {
    text-align: center;
    color: aliceblue;
}

.footer {
    margin-top: 60px;
    background-color: #333;
    color: #eee;
    padding: 40px 20px 20px;
    font-family: system-ui, sans-serif;
}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-links {
    color: white;
    list-style: none;
    font-size: 10px;
    text-align: center;
    padding-left: 0;
    font-size: 15px;
}

.carousel-inner {
    width: 100%;
    height: 22rem;
}

.carousel-item img {
    object-fit: contain;
    background: #000;
    height: 100%;
}

.carousel-caption {
    font-size: 0.75rem;
    padding: 6px;
    bottom: 8%;
}

.carousel-caption h5 {
    font-size: 35px;
}

.carousel-caption p {
    font-size: 20px;
}

/*Adapta el texto del hero */
@media(max-width: 768px) {
    .hero-main {
        height: 40vh;
    }

    .carousel-caption h5 {
        font-size: 15px;
    }

    .carousel-caption p {
        font-size: 10px;
    }
}

/* Ajusta grid a pantallas pequenas */
@media (min-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .carousel-inner {
        height: 30rem;
    }
}

@media (min-width: 1000px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .carousel-inner {
        height: 40rem;
    }
}
